<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="All_SonarLint" ToolsVersion="14.0">
  <Rules AnalyzerId="Desktop.Analyzers" RuleNamespace="Desktop.Analyzers">
    <Rule Id="CA2153" Action="None" />
    <Rule Id="CA3075" Action="None" />
  </Rules>
  <Rules AnalyzerId="Desktop.CSharp.Analyzers" RuleNamespace="Desktop.CSharp.Analyzers">
    <Rule Id="CA2212" Action="Warning" />
    <Rule Id="CA2236" Action="Warning" />
    <Rule Id="CA2238" Action="Warning" />
    <Rule Id="CA2239" Action="Warning" />
    <Rule Id="CA2240" Action="Warning" />
    <Rule Id="CA3076" Action="None" />
    <Rule Id="CA3077" Action="None" />
    <Rule Id="CA5350" Action="None" />
    <Rule Id="CA5351" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.ApiDesignGuidelines.Analyzers" RuleNamespace="Microsoft.ApiDesignGuidelines.Analyzers">
    <Rule Id="CA1008" Action="Warning" />
    <Rule Id="CA1012" Action="Warning" />
    <Rule Id="CA1024" Action="Warning" />
    <Rule Id="CA1027" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1050" Action="Warning" />
    <Rule Id="CA1063" Action="Warning" />
    <Rule Id="CA1066" Action="None" />
    <Rule Id="CA1067" Action="None" />
    <Rule Id="CA1068" Action="None" />
    <Rule Id="CA1708" Action="Warning" />
    <Rule Id="CA1711" Action="Warning" />
    <Rule Id="CA1714" Action="None" />
    <Rule Id="CA1717" Action="None" />
    <Rule Id="CA1725" Action="Warning" />
    <Rule Id="CA1819" Action="Warning" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2217" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.ApiDesignGuidelines.CSharp.Analyzers" RuleNamespace="Microsoft.ApiDesignGuidelines.CSharp.Analyzers">
    <Rule Id="CA1003" Action="Warning" />
    <Rule Id="CA1019" Action="Warning" />
    <Rule Id="CA1726" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="AD0001" Action="None" />
    <Rule Id="CS0028" Action="None" />
    <Rule Id="CS0078" Action="None" />
    <Rule Id="CS0105" Action="None" />
    <Rule Id="CS0108" Action="None" />
    <Rule Id="CS0109" Action="None" />
    <Rule Id="CS0114" Action="None" />
    <Rule Id="CS0162" Action="None" />
    <Rule Id="CS0164" Action="None" />
    <Rule Id="CS0168" Action="None" />
    <Rule Id="CS0183" Action="None" />
    <Rule Id="CS0184" Action="None" />
    <Rule Id="CS0197" Action="None" />
    <Rule Id="CS0219" Action="None" />
    <Rule Id="CS0251" Action="None" />
    <Rule Id="CS0252" Action="None" />
    <Rule Id="CS0253" Action="None" />
    <Rule Id="CS0278" Action="None" />
    <Rule Id="CS0279" Action="None" />
    <Rule Id="CS0280" Action="None" />
    <Rule Id="CS0282" Action="None" />
    <Rule Id="CS0402" Action="None" />
    <Rule Id="CS0419" Action="None" />
    <Rule Id="CS0420" Action="None" />
    <Rule Id="CS0435" Action="None" />
    <Rule Id="CS0436" Action="None" />
    <Rule Id="CS0437" Action="None" />
    <Rule Id="CS0440" Action="None" />
    <Rule Id="CS0458" Action="None" />
    <Rule Id="CS0464" Action="None" />
    <Rule Id="CS0465" Action="None" />
    <Rule Id="CS0469" Action="None" />
    <Rule Id="CS0472" Action="None" />
    <Rule Id="CS0473" Action="None" />
    <Rule Id="CS0612" Action="None" />
    <Rule Id="CS0618" Action="None" />
    <Rule Id="CS0626" Action="None" />
    <Rule Id="CS0628" Action="None" />
    <Rule Id="CS0642" Action="None" />
    <Rule Id="CS0652" Action="None" />
    <Rule Id="CS0657" Action="None" />
    <Rule Id="CS0658" Action="None" />
    <Rule Id="CS0659" Action="None" />
    <Rule Id="CS0660" Action="None" />
    <Rule Id="CS0661" Action="None" />
    <Rule Id="CS0665" Action="None" />
    <Rule Id="CS0672" Action="None" />
    <Rule Id="CS0675" Action="None" />
    <Rule Id="CS0684" Action="None" />
    <Rule Id="CS0693" Action="None" />
    <Rule Id="CS0728" Action="None" />
    <Rule Id="CS0809" Action="None" />
    <Rule Id="CS0811" Action="None" />
    <Rule Id="CS0824" Action="None" />
    <Rule Id="CS1030" Action="None" />
    <Rule Id="CS1058" Action="None" />
    <Rule Id="CS1062" Action="None" />
    <Rule Id="CS1064" Action="None" />
    <Rule Id="CS1066" Action="None" />
    <Rule Id="CS1072" Action="None" />
    <Rule Id="CS1522" Action="None" />
    <Rule Id="CS1570" Action="None" />
    <Rule Id="CS1571" Action="None" />
    <Rule Id="CS1572" Action="None" />
    <Rule Id="CS1573" Action="None" />
    <Rule Id="CS1574" Action="None" />
    <Rule Id="CS1580" Action="None" />
    <Rule Id="CS1581" Action="None" />
    <Rule Id="CS1584" Action="None" />
    <Rule Id="CS1587" Action="None" />
    <Rule Id="CS1589" Action="None" />
    <Rule Id="CS1590" Action="None" />
    <Rule Id="CS1591" Action="None" />
    <Rule Id="CS1592" Action="None" />
    <Rule Id="CS1616" Action="None" />
    <Rule Id="CS1633" Action="None" />
    <Rule Id="CS1634" Action="None" />
    <Rule Id="CS1635" Action="None" />
    <Rule Id="CS1645" Action="None" />
    <Rule Id="CS1658" Action="None" />
    <Rule Id="CS1668" Action="None" />
    <Rule Id="CS1685" Action="None" />
    <Rule Id="CS1687" Action="None" />
    <Rule Id="CS1690" Action="None" />
    <Rule Id="CS1692" Action="None" />
    <Rule Id="CS1695" Action="None" />
    <Rule Id="CS1696" Action="None" />
    <Rule Id="CS1697" Action="None" />
    <Rule Id="CS1700" Action="None" />
    <Rule Id="CS1701" Action="None" />
    <Rule Id="CS1702" Action="None" />
    <Rule Id="CS1710" Action="None" />
    <Rule Id="CS1711" Action="None" />
    <Rule Id="CS1712" Action="None" />
    <Rule Id="CS1717" Action="None" />
    <Rule Id="CS1718" Action="None" />
    <Rule Id="CS1720" Action="None" />
    <Rule Id="CS1723" Action="None" />
    <Rule Id="CS1734" Action="None" />
    <Rule Id="CS1735" Action="None" />
    <Rule Id="CS1762" Action="None" />
    <Rule Id="CS1927" Action="None" />
    <Rule Id="CS1956" Action="None" />
    <Rule Id="CS1957" Action="None" />
    <Rule Id="CS1974" Action="None" />
    <Rule Id="CS1981" Action="None" />
    <Rule Id="CS1998" Action="None" />
    <Rule Id="CS2002" Action="None" />
    <Rule Id="CS2008" Action="None" />
    <Rule Id="CS2023" Action="None" />
    <Rule Id="CS2029" Action="None" />
    <Rule Id="CS2038" Action="None" />
    <Rule Id="CS3000" Action="None" />
    <Rule Id="CS3001" Action="None" />
    <Rule Id="CS3002" Action="None" />
    <Rule Id="CS3003" Action="None" />
    <Rule Id="CS3005" Action="None" />
    <Rule Id="CS3006" Action="None" />
    <Rule Id="CS3007" Action="None" />
    <Rule Id="CS3008" Action="None" />
    <Rule Id="CS3009" Action="None" />
    <Rule Id="CS3010" Action="None" />
    <Rule Id="CS3011" Action="None" />
    <Rule Id="CS3012" Action="None" />
    <Rule Id="CS3013" Action="None" />
    <Rule Id="CS3014" Action="None" />
    <Rule Id="CS3015" Action="None" />
    <Rule Id="CS3016" Action="None" />
    <Rule Id="CS3017" Action="None" />
    <Rule Id="CS3018" Action="None" />
    <Rule Id="CS3019" Action="None" />
    <Rule Id="CS3021" Action="None" />
    <Rule Id="CS3022" Action="None" />
    <Rule Id="CS3023" Action="None" />
    <Rule Id="CS3024" Action="None" />
    <Rule Id="CS3026" Action="None" />
    <Rule Id="CS3027" Action="None" />
    <Rule Id="CS4014" Action="None" />
    <Rule Id="CS4024" Action="None" />
    <Rule Id="CS4025" Action="None" />
    <Rule Id="CS4026" Action="None" />
    <Rule Id="CS7022" Action="None" />
    <Rule Id="CS7033" Action="None" />
    <Rule Id="CS7035" Action="None" />
    <Rule Id="CS7080" Action="None" />
    <Rule Id="CS7081" Action="None" />
    <Rule Id="CS7082" Action="None" />
    <Rule Id="CS7090" Action="None" />
    <Rule Id="CS7095" Action="None" />
    <Rule Id="CS8001" Action="None" />
    <Rule Id="CS8002" Action="None" />
    <Rule Id="CS8009" Action="None" />
    <Rule Id="CS8012" Action="None" />
    <Rule Id="CS8018" Action="None" />
    <Rule Id="CS8019" Action="None" />
    <Rule Id="CS8020" Action="None" />
    <Rule Id="CS8021" Action="None" />
    <Rule Id="CS8029" Action="None" />
    <Rule Id="CS8032" Action="None" />
    <Rule Id="CS8033" Action="None" />
    <Rule Id="CS8034" Action="None" />
    <Rule Id="CS8040" Action="None" />
    <Rule Id="CS8073" Action="None" />
    <Rule Id="CS8094" Action="None" />
    <Rule Id="CS8105" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.EditorFeatures" RuleNamespace="Microsoft.CodeAnalysis.CSharp.EditorFeatures">
    <Rule Id="UseAutoProperty" Action="Warning" />
    <Rule Id="UseAutoPropertyFadedToken" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="Warning" />
    <Rule Id="IDE0002" Action="Warning" />
    <Rule Id="IDE0003" Action="Warning" />
    <Rule Id="IDE0004" Action="Warning" />
    <Rule Id="IDE0005" Action="Warning" />
    <Rule Id="IDE1005" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Maintainability.CSharp.Analyzers" RuleNamespace="Microsoft.Maintainability.CSharp.Analyzers">
    <Rule Id="CA1500" Action="Warning" />
    <Rule Id="CA1812" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.QualityGuidelines.Analyzers" RuleNamespace="Microsoft.QualityGuidelines.Analyzers">
    <Rule Id="CA1822" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.QualityGuidelines.CSharp.Analyzers" RuleNamespace="Microsoft.QualityGuidelines.CSharp.Analyzers">
    <Rule Id="CA2000" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S100" Action="Info" />
    <Rule Id="S101" Action="Info" />
    <Rule Id="S104" Action="Info" />
    <Rule Id="S1066" Action="Info" />
    <Rule Id="S1067" Action="Warning" />
    <Rule Id="S107" Action="Warning" />
    <Rule Id="S1109" Action="Info" />
    <Rule Id="S1116" Action="Warning" />
    <Rule Id="S1125" Action="Info" />
    <Rule Id="S1135" Action="Info" />
    <Rule Id="S1144" Action="Warning" />
    <Rule Id="S1155" Action="Info" />
    <Rule Id="S121" Action="Info" />
    <Rule Id="S1226" Action="Warning" />
    <Rule Id="S1227" Action="Warning" />
    <Rule Id="S126" Action="Warning" />
    <Rule Id="S127" Action="Warning" />
    <Rule Id="S1301" Action="Warning" />
    <Rule Id="S131" Action="Warning" />
    <Rule Id="S1313" Action="Warning" />
    <Rule Id="S134" Action="Warning" />
    <Rule Id="S1450" Action="Warning" />
    <Rule Id="S1541" Action="Warning" />
    <Rule Id="S1659" Action="Info" />
    <Rule Id="S1694" Action="Info" />
    <Rule Id="S1858" Action="Info" />
    <Rule Id="S1905" Action="Info" />
    <Rule Id="S1939" Action="Info" />
    <Rule Id="S1994" Action="Warning" />
    <Rule Id="S2070" Action="Warning" />
    <Rule Id="S2197" Action="Warning" />
    <Rule Id="S2219" Action="Info" />
    <Rule Id="S2228" Action="Warning" />
    <Rule Id="S2292" Action="Info" />
    <Rule Id="S2306" Action="Info" />
    <Rule Id="S2330" Action="Warning" />
    <Rule Id="S2333" Action="Info" />
    <Rule Id="S2339" Action="Warning" />
    <Rule Id="S2344" Action="Info" />
    <Rule Id="S2346" Action="Info" />
    <Rule Id="S2357" Action="Warning" />
    <Rule Id="S2387" Action="Warning" />
    <Rule Id="S2551" Action="Warning" />
    <Rule Id="S2674" Action="Error" />
    <Rule Id="S2737" Action="Warning" />
    <Rule Id="S2760" Action="Warning" />
    <Rule Id="S2931" Action="Warning" />
    <Rule Id="S2952" Action="Warning" />
    <Rule Id="S2955" Action="Warning" />
    <Rule Id="S3052" Action="Info" />
    <Rule Id="S3215" Action="Warning" />
    <Rule Id="S3216" Action="Warning" />
    <Rule Id="S3234" Action="Info" />
    <Rule Id="S3235" Action="Info" />
    <Rule Id="S3240" Action="Info" />
    <Rule Id="S3251" Action="Info" />
    <Rule Id="S3253" Action="Info" />
    <Rule Id="S3254" Action="Info" />
    <Rule Id="S3257" Action="Info" />
    <Rule Id="S3262" Action="Info" />
    <Rule Id="S3263" Action="Error" />
    <Rule Id="S3265" Action="Info" />
    <Rule Id="S3376" Action="Info" />
    <Rule Id="S3440" Action="Info" />
    <Rule Id="S3441" Action="Info" />
    <Rule Id="S3449" Action="Error" />
    <Rule Id="S3457" Action="Info" />
    <Rule Id="S3458" Action="Info" />
    <Rule Id="S3532" Action="Info" />
    <Rule Id="S3604" Action="Warning" />
    <Rule Id="S3626" Action="Warning" />
    <Rule Id="S818" Action="Info" />
  </Rules>
  <Rules AnalyzerId="System.Collections.Immutable.Analyzers" RuleNamespace="System.Collections.Immutable.Analyzers">
    <Rule Id="RS0012" Action="None" />
  </Rules>
  <Rules AnalyzerId="System.Runtime.Analyzers" RuleNamespace="System.Runtime.Analyzers">
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1307" Action="None" />
    <Rule Id="CA1813" Action="Warning" />
    <Rule Id="CA1820" Action="Warning" />
    <Rule Id="CA2002" Action="None" />
    <Rule Id="RS0014" Action="None" />
  </Rules>
  <Rules AnalyzerId="System.Runtime.CSharp.Analyzers" RuleNamespace="System.Runtime.CSharp.Analyzers">
    <Rule Id="CA1601" Action="Warning" />
    <Rule Id="CA1825" Action="None" />
    <Rule Id="CA2201" Action="Warning" />
    <Rule Id="CA2215" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="System.Runtime.InteropServices.Analyzers" RuleNamespace="System.Runtime.InteropServices.Analyzers">
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA2101" Action="None" />
  </Rules>
  <Rules AnalyzerId="System.Runtime.InteropServices.CSharp.Analyzers" RuleNamespace="System.Runtime.InteropServices.CSharp.Analyzers">
    <Rule Id="RS0015" Action="None" />
  </Rules>
  <Rules AnalyzerId="System.Security.Cryptography.Hashing.Algorithms.CSharp.Analyzers" RuleNamespace="System.Security.Cryptography.Hashing.Algorithms.CSharp.Analyzers">
    <Rule Id="CA5350" Action="None" />
    <Rule Id="CA5351" Action="None" />
  </Rules>
  <Rules AnalyzerId="System.Threading.Tasks.Analyzers" RuleNamespace="System.Threading.Tasks.Analyzers">
    <Rule Id="RS0018" Action="None" />
  </Rules>
</RuleSet>